python==3.8.8
asgiref==3.4.1
blinker==1.4
brotli==1.0.9
brotlipy==0.7.0
ConfigParser==5.2.0
cryptography==3.4.7
Cython==0.29.23
dl==0.1.0
docutils==0.17.1
eventlet==0.33.0
gevent==21.1.2
greenlet==1.1.0
HTMLParser==0.0.2
importlib_metadata==3.10.1
inotify==0.2.10
jnius==1.1.0
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
mock==4.0.3
numpy==1.20.2
ordereddict==1.1
PasteScript==3.2.1
protobuf==3.19.3
pyOpenSSL==21.0.0
python-dotenv==0.19.2
setproctitle==1.2.2
simplejson==3.17.6
toml==0.10.2
tornado==6.1
typing_extensions==3.7.4.3
unicodedata2==14.0.0
watchdog==1.0.2
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.4.1
